.switch {
    display: flex;
    position: fixed;
    right: 1.25rem;
    bottom: 1.25rem;
    justify-content: center;
    align-items: center;
    border-radius: 9999px;
    border-width: 1px;
    border-color: #ffffff;
    border-opacity: 0.4;
    background-color: #ffffff;
    --bg-opacity: 0.8;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    width: 3rem;
    height: 3rem;
}