.react-financial-charts-grabbing-cursor {
    pointer-events: all;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

.react-financial-charts-crosshair-cursor {
    pointer-events: all;
    cursor: crosshair;
}

.react-financial-charts-tooltip-hover {
    pointer-events: all;
    cursor: pointer;
}

.react-financial-charts-avoid-interaction {
    pointer-events: none;
}

.react-financial-charts-enable-interaction {
    pointer-events: all;
}

.react-financial-charts-tooltip {
    pointer-events: all;
    cursor: pointer;
}

.react-financial-charts-default-cursor {
    cursor: default;
}

.react-financial-charts-move-cursor {
    cursor: move;
}

.react-financial-charts-pointer-cursor {
    cursor: pointer;
}

.react-financial-charts-ns-resize-cursor {
    cursor: ns-resize;
}

.react-financial-charts-ew-resize-cursor {
    cursor: ew-resize;
}


.container {
    position: relative;
    justify-content: center;
}